body{
    border-block-start-color: blueviolet;
    background: radial-gradient(circle,rgb(0, 255, 98),pink);
}

form{
    text-align: center;
}

h1{
    text-decoration: chocolate;
    text-align: center;
    border-style: dotted;
}

form{
    border-style: double;
    margin-left: 435px;
    margin-right: 435px;
    background-color: rgb(252, 88, 178);
}